<%if @page%>
  <h1><%=@page.title%></h1>
  <%if @page.photo.attached?%>
    <%=image_tag @page.photo,height: '150',class: 'pl'%>
  <%end%>
  <p><%=@page.body%></p>
<%else%>
  <h1>Page Not Created Yet</h1>
<%end%>
