.head {
  background:url('../images/jrbanner.png') center center no-repeat;
  background-size:cover;
  height:125px;
}
.foot {
  background:url('../images/jrfooter.png') center center no-repeat;
  background-size:cover;
  height:75px;
}
.pl {
  float:left;
  border:2px solid black;
  margin:20px;
}
.posts {
  margin-top:20px;
}
